//
   Created by nick on 2/5/16.

extends layout

block content
    h1= title
    p This is Sequelize greeting you :)

    h2 Creating a new question
    form(action="/create", method="post")
        input(type="text", name="question_text")
        input(type="number" name="difficulty")
        input(type="submit")

    h2 Questions

    table
        thead
          tr
            th Question
            th Difficulty
        tbody
          - each question in questions
            tr
                td= question.question_text
                td= question.difficulty
                td
                  a(href="/questions/" + question.id + "/delete") Destroy
