<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Interview Creation</title>
    <script data-require="angular.js@*" data-semver="1.2.0-rc2"
            src="http://code.angularjs.org/1.2.0-rc.2/angular.js"></script>
    <script src="require.js"></script>
    <script src="../app.js"></script>
    <script src="data_insertion.js"></script>
    <script src="jquery-1.12.0.min.js"></script>

</head>

<body ng-app="" style="text-align:center" ;>
<div ng-controller="data_insertion" name="mainContent" id="mainContent">
    <h1>CREATE AN INTERVIEW</h1>
    <table style="margin-left:auto; margin-right:auto;">
        <tr>
            <td>
                <label for="singleSelect1"> Interviewer: </label><br>
                <select name="singleSelect1" id="singleSelect1" ng-model="data.singleSelect">
                    <option value="">---Please select---</option> <!-- not selected / blank option -->
                    <option value="{{data.option1}}">Option 1</option> <!-- interpolation -->
                    <option value="option-2">Option 2</option>
                </select><br>
                <br>
            </td>
            <td style="width:25px;"></td>
            <td>
                <label for="singleSelect2"> Interviewee: </label><br>
                <select name="singleSelect2" id="singleSelect2" ng-model="data.singleSelect">
                    <option value="">---Please select---</option> <!-- not selected / blank option -->
                    <option value="{{data.option1}}">Option 1</option> <!-- interpolation -->
                    <option value="option-2">Option 2</option>
                </select><br>
                <br>
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <div class="form-group" data-ng-repeat="questionField in questionFields">
                    <input type="text" ng-model="questionField.name" name="" placeholder="Enter a question">
                    <button ng-show="showAddQuestionField(questionField)" ng-click="questionField()">
                        Add another field
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width:100px;"></td>
            <td>
                <button>Create</button>
            </td>
        </tr>
    </table>
</div>
</body>
<a href="index.html">List of questions</a>
<a href="usersList.html">List of users</a>
</html>