<div class="row" style="width:100%; margin-left:25px; margin-right:0px;">
    <div class="col-md-12">
        <h1 class="page-head-line">Create a question</h1>
        <h1 class="page-subhead-line">Write a question and add tags</h1>

    </div>
</div>
<div class="col-md-6 col-sm-6 col-xs-12 row" style="width:100%;" ng-controller="create_question_controller as cqc">
    <div class="panel panel-info" style="margin-left:3%;">
        <div class="panel-heading">
            Question
        </div>
        <div class="control-group" id="fields" style="margin-left:5%;">
            <div class="controls">
                <form role="form" autocomplete="on" style="margin-left:5%;">
                    <div class="form-group" style="margin-top:2%; text-align:left;">
                        <label>Question</label>
                        <input id='question_text' class="form-control" type="text" style="width:95%;
                                     text-align:left;" ng-model="questionData.text">
                    </div>
                    <div class="form-group" style="margin-top:2%; text-align:left;">
                        <div class="row">
                            <div class="col-md-4" id="topic-box" ng-controller="tag_auto_complete_controller as ctrl">
                                <label>Tags</label>
                                <button class="btn btn-success btn-add btn-xs" type="button" ng-click="ctrl.newTag(ctrl.searchText);" id="addTagButton" style="margin-left:4px;">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <br>
                                <md-autocomplete
                                        id="question-topic"
                                        style="width:90%;"
                                        md-no-cache="true"
                                        md-selected-item="ctrl.selectedItem"
                                        md-search-text="ctrl.searchText"
                                        md-selected-item-change="ctrl.selectedItemChange(ctrl.selectedItem)"
                                        md-items="tag in ctrl.querySearch(ctrl.searchText)"
                                        md-item-text="tag"
                                        md-min-length="0"
                                        md-input-id="tagBox"
                                        placeholder="Search for Tag">
                                    <md-item-template>
                                                    <span md-highlight-text="ctrl.searchText"
                                                          md-highlight-flags="^i">{{tag}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        Click the plus to create "{{ctrl.searchText}}"
                                    </md-not-found>
                                </md-autocomplete>
                            </div>
                            <div class="col-md-8" id="subtopic-box">
                                <label>Tag List</label>
                                <br>
                                <tag ng-repeat="(key, value) in questionData.selectedTags track by $index"></tag>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="intro" ng-model="questionData.category" ng-change="updateCategory()"> intro
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="skills" ng-model="questionData.category" ng-change="updateCategory()"> skills
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="close" ng-model="questionData.category" ng-change="updateCategory()"> close
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top:2%; text-align:left;">
                        <div ng-controller="slider_controller">
                            <label>Difficulty</label>
                            <div class="percentage-cur row" ng-init="selectedRange=1" style="width:95%; margin: 0px !important;">
                                <div class='col-xs-4' style="text-align: left; padding: 0px !important;">
                                    <p>
                                        Junior
                                        <br>
                                        <input id="juniorDiff" type="radio" name="level" ng-model="value" value="0" checked ng-click="updateLimits()">
                                    </p>
                                </div>
                                <div class='col-xs-4' style="text-align: center; padding: 0px !important;">
                                    <p>
                                        Mid
                                        <br>
                                        <input id="midDiff" type="radio" name="level" ng-model="value" value="5" ng-click="updateLimits()">
                                    </p>
                                </div>
                                <div class='col-xs-4' style="text-align: right; padding: 0px !important;">
                                    <p>
                                        Senior
                                        <br>
                                        <input id="seniorDiff" type="radio" name="level" ng-model="value" value="10" ng-click="updateLimits()">
                                    </p>
                                </div>
                            </div>
                            
                            <input id="modelValue" type="range" ng-model="value"
                                    min="{{options.min}}" step="{{options.step}}"
                                    max="{{options.max}}" slider-tooltip="show"
                                    handle="{{options.handle}}"
                                    style="width:95%;" data-toggle="tooltip" data-placement="bottom"
                                    title="{{value}}" ng-click="updateLimits()" ng-change="updateLimits()"
                                    >
                        </div>
                        

                        <br>
                    </div>
                    <br>
                    <div>
                        <div class="form-group" style="margin-top:2%; text-align:left; width:95%">
                            <label>Answers</label>
                            <div>
                                <input ng-repeat="answer in questionData.answers track by $index" ng-model="questionData.answers[$index]" id="questionDataanswer{{$index}}"class="form-control answer-box" type="text" style="text-align:left; margin-bottom:1%;" value="{{answer}}">
                            </div>
                     
                            <button class="btn btn-success btn-add" type="button" ng-click="addAnswer()"
                                    id="addAnswerButton">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <button class="btn btn-danger btn-add" type="button" ng-click="removeAnswer()" style="float:right;"
                                    id="removeAnswerButton">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </div>
                    </div>
                </form>
                <br>
                <div class='row'>
                    <div class='col-xs-6' style="text-align:right;">
                        <button type="button" class="btn btn-lg btn-success"
                                ng-click="compileData(); answer(questionData);"
                                id="submitQuestion">
                            Submit
                        </button>
                    </div>
                    <div class='col-xs-6'>
                        <button type="button" class="btn btn-lg btn-danger"
                                ng-click="cancelQuestion(); answer(' ');">
                            Cancel
                        </button>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>