<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <script src="assets/js/jquery.ui.touch-punch.min.js"></script>
    <link rel="icon" href="assets/img/favicon.ico"/>

    <title>IQMS</title>

    <!-- BOOTSTRAP STYLES-->
    <!--<link href="assets/css/bootstrap.css" rel="stylesheet"/>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-tagsinput.css">

    <!-- FONTAWESOME STYLES-->
    <link href="assets/css/font-awesome.css" rel="stylesheet"/>

    <!--CUSTOM BASIC STYLES-->
    <link href="assets/css/basic.css" rel="stylesheet"/>

    <!--CUSTOM MAIN STYLES-->
    <link href="assets/css/custom.css" rel="stylesheet"/>

    <!-- GOOGLE FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>

    <!-- Angular -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" href="assets/css/angular-material.min.css">

    <link rel="stylesheet" href="assets/css/toastr.min.css">

    <style>
        md-dialog {
            min-width: 60%;
        }
    </style>

    <!-- Firebase -->

    <script src="https://www.gstatic.com/firebasejs/3.2.1/firebase.js"></script>
   <script>
        if(firebase.apps.length < 1) {
            $.getJSON('../../config/config.json', {format: "json"}).done(function(config) {
                var apiConfig = {
                    apiKey: config.development.firebaseApiKey,
                    authDomain: config.development.firebaseAuthDomain,
                    databaseURL: config.development.firebaseDatabaseURL,
                    storageBucket: ""
                };
                firebase.initializeApp(apiConfig);
            });
        } else {
            firebase.app().delete().then(function() {
                $.getJSON('../../config/config.json', {format: "json"}).done(function(config) {
                    var apiConfig = {
                        apiKey: config.development.firebaseApiKey,
                        authDomain: config.development.firebaseAuthDomain,
                        databaseURL: config.development.firebaseDatabaseURL,
                        storageBucket: ""
                    };
                    firebase.initializeApp(apiConfig);
                });
            });
        }
    </script>


    <script src="assets/js/angularjs/1.5.0/angular.min.js"></script>
    <script src="assets/js/angularjs/1.5.0/angular-animate.min.js"></script>
    <script src="assets/js/angularjs/1.5.0/angular-aria.min.js"></script>
    <script src="assets/js/angularjs/1.5.0/angular-messages.min.js"></script>
    <script src="assets/js/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="assets/js/angularjs/1.5.0/angular-route.js"></script>
    <script src="assets/js/angular-dragdrop.min.js"></script>
    <script src="assets/js/angularjs/1.5.0/slider.js"></script>
    <script src="assets/js/toastr.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>

    CONTROLLERS
    <script src="control/create_interview_controller.js"></script>
    <script src="control/list_interview_controller.js"></script>
    <script src="control/create_question_controller.js"></script>
    <script src="control/question_manager_controller.js"></script>
    <script src="control/tag_auto_complete_controller.js"></script>
    <script src="control/conduct_interview_controller.js"></script>
    <script src="control/login_controller.js"></script>
    <script src="control/slider_controller.js"></script>
    <script src="control/question_flagger_controller.js"></script>
    <script src="control/filter_menu_controller.js"></script>
    <script src="control/interpret_interview_controller.js"></script>
    <script src="control/plan_interview_controller.js"></script>
    <script src="control/manage_user_controller.js"></script>
    <script src="control/list_position_controller.js"></script>
    <script src="control/create_position_controller.js"></script>

    <!-- SERVICES -->
    <script src="services/authService.js"></script>
    <script src="services/taggingService.js"></script>
    <script src="services/popupService.js"></script>
    <script src="services/flaggingService.js"></script>
    <script src="services/filterService.js"></script>
    <script src="services/userService.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-chart/0.1.0/ng-google-chart.js" type="text/javascript"></script>

    <script>
        function index_controller($scope, $rootScope, $window, $location, $route, userService, $mdMedia) {

            $scope.interviewScreen = false;
            $scope.name = null;
            $scope.loginTime = null;
            $scope.userRole = userService.getUserRole();

            var loc = "";

            $scope.logout = function() {
                firebase.auth().signOut().then(function() {
                    userService.setUserName(null);
                    $scope.loginTime = null;
                    window.location.href = '#/login';
                  }, function(error) {
                    // An error happened.
                  });
            };

            $scope.goHome = function() {
                $scope.interviewScreen = false;
                $location.path('/');
            };

            $scope.$on('$routeChangeStart', function() {
                var currentPath = $location.path();
                $scope.userRole = userService.getUserRole();
                if($scope.name) {
                    if($location.path() == '/loading')
                            $location.path('/');

                    /*if($location.path() == '/conaction') {
                        $scope.interviewScreen = true;
                    }
                    loc = "" + window.location;
                    loc = loc.substr(loc.lastIndexOf('#') + 2);
                    $scope.interviewScreen = loc.startsWith("conaction");*/
                    $scope.interviewScreen = $location.path().startsWith('/conaction');

                    $scope.checkScreenSize();

                } else if(!$scope.name && $location.path() != '/login') {
                    $location.path("/loading");
                    try {
                        firebase.auth().onAuthStateChanged(function(user) {
                            if (user) {
                                userService.setUserName(user.email);
                                if(currentPath != '/loading') {
                                    $route.reload();
                                    currentPath = currentPath.startsWith('/conaction') ? '/' : currentPath;
                                    $location.path(currentPath);
                                    $scope.userRole = userService.getUserRole();
                                }
                            } else {
                                $location.path("/login");
                            }
                        });
                    } catch(error) {
                        switch(error.message) {
                            default:
                                $window.alert('Something went wrong :/');
                                break;
                            case("No Firebase App '[DEFAULT]' has been created - call Firebase App.initializeApp()."):
                                $window.alert('Looks like you tried to refresh! Please use Ctrl + Shift + R (Cmd + Shift + R on Mac) to refresh the page.');
                                break;
                        }
                    }
                }
            });

            $rootScope.$on('updateName', function() {
               $scope.name = userService.getUserName();
               if ($scope.name) {
                    $scope.loginTime = Date.now();
                    $scope.$apply();
               }
            });

            $scope.hide_side = function () {
                angular.element('#hidethis').css('visibility', 'hidden');
            };
            $scope.show_side = function () {
                angular.element('#hidethis').css('visibility', 'visible');
            };

            $scope.checkScreenSize = function() {
                var big = $mdMedia('gt-sm');
                if(big) {
                    $('.sidebar-collapse').collapse('show');
                } else {
                    $('.sidebar-collapse').collapse('hide');
                }
            };

            $scope.$watch(function() {
                return $mdMedia('gt-sm');
            }, $scope.checkScreenSize);
        }

        var app = angular.module('app', ['ngRoute', 'ngSanitize', 'ngMaterial', 'ngDragDrop', 'googlechart']);

        app.config(function ($routeProvider) {
            $routeProvider
                    .when('/', {
                        templateUrl: 'welcome.html'
                    })

                    .when('/ci', {
                        templateUrl: 'createInterview.html'
                    })

                    .when('/ie', {
                        templateUrl: 'createInterview.html'
                    })

                    .when('/li', {
                        templateUrl: 'listInterviews.html'
                    })

                    .when('/plan/:id', {
                        templateUrl: 'planInterview.html'
                    })

                    .when('/cq', {
                        templateUrl: 'createQuestion.html'
                    })

                    .when('/ce', {
                        templateUrl: 'createQuestion.html'
                    })

                    .when('/cp', {
                      templateUrl: 'createPosition.html'
                    })

                    .when('/qm', {
                        templateUrl: 'questionManager.html'
                    })

                    .when('/lp',{
                      templateUrl: 'listPositions.html'
                    })

                    .when('/conaction/:id/', {
                        templateUrl: 'conductInterviewAction.html'
                    })

                    .when('/view/:id', {
                        templateUrl: 'interpretInterview.html'
                    })

                    .when('/users', {
                        templateUrl: 'manageUsers.html'
                    })

                    .when('/login', {
                        templateUrl: 'login.html'
                    })

                    .when('/loading', {
                        templateUrl: 'loading.html'
                    })

                    .otherwise({redirectTo: '/'});

        });

        app.controller("create_interview_controller", create_interview_controller);
        app.controller("conduct_interview_controller", conduct_interview_controller);
        app.controller("list_interview_controller", list_interview_controller);
        app.controller("create_question_controller", create_question_controller);
        app.controller("question_manager_controller", question_manager_controller);
        app.controller("tag_auto_complete_controller", tag_auto_complete_controller);
        app.controller("index_controller", index_controller);
        app.controller("login_controller", login_controller);
        app.controller("slider_controller", slider_controller);
        app.controller("question_flagger_controller", question_flagger_controller);
        app.controller("filter_menu_controller", filter_menu_controller);
        app.controller("interpret_interview_controller", interpret_interview_controller);
        app.controller("plan_interview_controller", plan_interview_controller);
        app.controller("manage_user_controller", manage_user_controller);
        app.controller("list_position_controller", list_position_controller);
        app.controller("create_position_controller", create_position_controller);

        app.service('authService', [authService]);
        app.service("taggingService", ['$http', '$rootScope', 'authService', taggingService]);
        app.service("popupService", ['$mdDialog', '$mdMedia', '$rootScope', popupService]);
        app.service('flaggingService', ['$http', '$rootScope', 'authService', flaggingService]);
        app.service('filterService', ['$rootScope', filterService]);
        app.service('userService', ['$rootScope', '$http', '$route', 'authService', userService]);

        app.factory('socket', ['$http', function($http) {
            var socket;

            $http.get('../../config/config.json').success(function(config) {
                socket = io.connect(config.development.webSocketUrl);
            });

            return {
                on: function(eventName, callback){
                    socket.on(eventName, callback);
                },
                emit: function(eventName, data) {
                    socket.emit(eventName, data);
                }
            };
        }]);

        app.factory('toast', function() {
            return {
                info: function(text) {
                    toastr.info(text);
                }
            }
        });

        app.directive("tag", function() {
            return {
                        restrict: "E",
                        templateUrl: 'directives/tag.html'
                    };
        });

        app.filter('orderTechnicalQuestions', function() {
            return function(items, order, tags, reverse) {
                var filtered = [];
                if (order[0] == "tags") {
                    tags.forEach(function(tag, index) {
                        var temp = [];
                         for (var i = 0; i < items.length; i++) {
                            if (items[i].tags[tag.label]) {
                                temp.push(items[i]);
                                items.splice(i, 1);
                                i--;
                            }
                         }
                        temp.sort(function (a, b) {
                            return (a["difficulty"] > b["difficulty"] ? 1 : -1);
                        });
                        filtered = $.merge(filtered, temp);
                    });

                } else if (order[0] == "difficulty") {
                    var jun = [];
                    var mid = [];
                    var sen = [];

                    tags.forEach(function(tag, index) {
                        for (var i = 0; i < items.length; i++) {
                            if (items[i].tags[tag.label]) {
                                if (items[i].difficulty <= 3) {
                                    jun.push(items[i]);
                                } else if (items[i].difficulty > 3 && items[i].difficulty <= 6) {
                                    mid.push(items[i]);
                                } else {
                                    sen.push(items[i]);
                                }
                            }
                        }
                    });

                    filtered = $.merge(jun, mid);
                    filtered = $.merge(filtered, sen);
                }

                if(reverse) filtered.reverse();
                return filtered;
            };
        });

    </script>

</head>
<body>
<div id="wrapper" ng-controller="index_controller as index">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0;">
        <div class="navbar-header" style="height:20%;">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="" ng-click="goHome()">IQMS</a>
        </div>
    </nav>
    <nav id='hidethis' class="navbar-default navbar-side" role="navigation" ng-show="name">
        <div class="collapse sidebar-collapse" ng-show="!interviewScreen">
            <ul class="nav" id="main-menu">
                <li>
                    <div class="user-img-div" style="text-align: center;">
                        <div class="inner-text">
                            {{name}}
                            <br/>
                            <small ng-show="loginTime">Last Login: {{loginTime | date:'medium'}}</small>
                        </div>
                        <button class="btn btn-danger" ng-click="logout()">Logout</button>
                    </div>

                </li>


                <li>
                    <a href="#/"><i class="fa fa-dashboard "></i>Welcome to IQMS</a>
                </li>
                <li ng-show="userRole == 'Admin' || userRole == 'Manager'">
                    <a href="#ci"><i class="fa fa-plus"></i>Create Interview</a>
                </li>
                <li ng-show="userRole == 'Admin' || userRole == 'Manager'">
                    <a href="#cp"><i class="fa fa-plus"></i>Create Position</a>
                </li>
                <li>
                    <a href="#li"><i class="fa fa-edit "></i>List Interviews</a>
                </li>
                <li>
                    <a href="#lp"><i class="fa fa-edit "></i>List Positions</a>
                </li>
                <li>
                    <a href="#qm"><i class="fa fa-question"></i>Question Manager</a>
                </li>
                <li ng-show="userRole == 'Admin' || userRole == 'Manager'">
                    <a href="#users"><i class="fa fa-users"></i>Manage Users</a>
                </li>
            </ul>
        </div>

        <div class="" ng-show="interviewScreen">
            <ul class="nav" id="main-menu2" ng-controller="filter_menu_controller" style="padding: 10px">
                <li>
                    <div>
                        <h4>
                            Question Filter
                        </h4>
                        <hr style="margin: 0px">
                        <div class="dropdown" style="text-align: center">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{orderBy[0]}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a ng-click="changeFilter(0)">Tags</a></li>
                                <li><a ng-click="changeFilter(1)">Difficulty</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <h4>
                            Difficulties
                        </h4>
                        <hr style="margin: 0px;">
                        <div class="checkbox" style="text-align: center">
                            <label class="checkbox-inline" ng-repeat="diff in difficulties">
                                <input type="checkbox" ng-model="diff.checked" ng-click="changeDifficulty($index)"> {{diff.label}}
                            </label>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <h4>
                            Tags <button class="btn btn-success btn-xs" ng-click="addInterviewTag()">+</button>
                        </h4>
                        Select
                        <a ng-click="alterAllTags(true);"> all</a>
                        <a ng-click="alterAllTags(false);" style+="text-align: right;"> none</a>
                        <hr style="margin: 0px;">
                        <div class="checkbox">
                            <label class="checkbox-inline" ng-model="tags" ng-repeat="tag in tags track by tag.label" ng-show="tag.label != 'Skills' && tag.label != 'Intro' && tag.label != 'Close'">
                                <input type="checkbox" ng-model="tag.checked" ng-click="changeTag($index)"> {{tag.label}}
                            </label>
                        </div>

                    </div>
                </li>
                <div style="visibility: hidden">
                    <div class="md-dialog-container" id="myDialog">
                        <md-dialog layout-padding>
                            <h2>Add a Tag</h2>
                            <div class="col-md-12" style="text-align: center">
                                <md-autocomplete
                                        id="tagAdd-box"
                                        md-no-cache="true"
                                        md-selected-item="selectedTag"
                                        md-search-text="tagText"
                                        md-selected-item-change="tagItemChange(selectedTag)"
                                        md-items="tag in queryTag(tagText)"
                                        md-item-text="tag"
                                        md-min-length="0"
                                        placeholder="Search for Tag">
                                    <md-item-template>
                                                        <span md-highlight-text="tagText"
                                                              md-highlight-flags="^i">{{tag}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        "{{tagText}}" is not found.
                                    </md-not-found>
                                </md-autocomplete>
                                <button class="btn btn-success" ng-click="addTheTag()" style="margin-top: 3px;">Add Tag</button>
                            </div>
                        </md-dialog>
                    </div>
                </div>
            </ul>
        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div id="main">
                <div ng-view>
                    <!-- /. ROW  -->
                    <!--<div ng-view></div>-->
                    <!-- angular templating -->
                    <!-- this is where content will be injected -->
                </div>
            </div>
            <!-- /. WRAPPER  -->
            <!-- /. FOOTER  -->
            <script src="socket.io/socket.io.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>

            <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
            <!-- JQUERY SCRIPTS -->
           <!-- <script src="assets/js/jquery-1.10.2.js"></script>-->
            <!-- BOOTSTRAP SCRIPTS -->
            <!--<script src="assets/js/bootstrap.js"></script>-->
            <!-- METISMENU SCRIPTS -->
           <!-- <script src="assets/js/jquery.metisMenu.js"></script>-->
            <!-- CUSTOM SCRIPTS -->
           <!-- <script src="assets/js/custom.js"></script>-->
        </div>
    </div>
</div>
</body>
</html>
