<div ng-controller="interpret_interview_controller">
     <div class="row">
          <div class="col-md-12">
               <h1 class="page-head-line">Interpret Interview Results</h1>
               <h1 class="page-subhead-line">View how an interview candidate did</h1>
               <div class="col-md-6" style="width:100%;">
                    <div class="row">
                         <h3 class="h3">Overall Results</h3>
                         <div class="col-md-12">
                              <div google-chart chart="overallResultsChart"></div>
                         </div>
                    </div>
                    <div class="row">
                         <h3 class="h3">Breakdown by Tags</h3>
                         <select class="form-control" ng-model="selectedTag" ng-change="updateTagResult()" style="width:25%">
                              <option ng-repeat="(key, value) in savedTags track by $index" ng-value="{{value}}">{{value}}</option>
                         </select>
                         <div class="col-md-12">
                              <div google-chart chart="tagResultChart"></div>
                         </div>
                        <div ng-repeat="(key, value) in selectedTagNotes track by $index">
                            <h4><b>{{key}}</b></h4>
                            <h5 ng-bind-html="value"></h5>
                        </div>
                    </div>
                    <div class="row">
                         <h3 class="h3">Breakdown by Difficulty</h3>
                         <div class="col-md-12">
                              <div google-chart chart="diffResultsChart"></div>
                         </div>
                    </div>
                    <div class="row">
                         <h3 class="h3">Recommendations: </h3>
                         <h5 class="h5" ng-repeat="rec in recs">{{rec.name}}: {{rec.recommendation}}</h5>
                    </div>
               </div>
          </div>
     </div>
</div>
