<div ng-controller="conduct_interview_controller">
    <div class="row">
        <div class="col-md-12">
            <style type="text/css">
                /* Vertical Sortable */
                .vthumbnail {
                  padding-top: 0px;
                  cursor: pointer;
                  position: relative;
                  -webkit-transition: none;
                  transition: none;
                  float: none !important;
                }
                .vthumbnail.ng-leave {
                  -webkit-transition-duration: 0s;
                  transition-duration: 0s;
                  opacity: 1;
                }
                .vthumbnail.ng-leave.ng-leave-active {
                  opacity: 0;
                }
                .vthumbnail.ng-enter {
                  -webkit-transition: top 0.3s;
                  transition: top 0.3s;
                }
                .vthumbnail.ng-enter[data-direction="left"] {
                  top: -40px; /* 56px width + 20px marginBottom */
                }
                .vthumbnail.ng-enter[data-direction="right"] {
                  top: 40px; /* 56px width + 20px marginBottom */
                }
                .vthumbnail.ng-enter.ng-enter-active {
                  top: 0px;
                }
                span.glyphicon-record {
                    font-size: 2.5em;
                }
                .icon-default {
                    color: #000000;
                }
                .icon-success {
                    color: #5CB85A;
                }
                .icon-info {
                    color: #5bc0de;
                }
                .radio-inline {
                    font-size: 0.75em !important;
                }
              </style>
            <div class="row">
                <div class="col-xs-4" style="text-align: center">
                     <h3>Intro</h3>
                </div>
                <div class="col-xs-4" style="text-align: center">
                     <h3>Skills</h3>
                </div>
                <div class="col-xs-4" style="text-align: center">
                     <h3>Close</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4" style="text-align: center">
                     <span class="glyphicon glyphicon-record" aria-hidden="true" ng-class="{'icon-default': state < 0, 'icon-info': state == 0, 'icon-success': state > 0}"></span>
                </div>
                <div class="col-xs-4" style="text-align: center">
                     <span class="glyphicon glyphicon-record" aria-hidden="true" ng-class="{'icon-default': state < 1, 'icon-info': state == 1, 'icon-success': state > 1}"></span>
                </div>
                <div class="col-xs-4" style="text-align: center">
                     <span class="glyphicon glyphicon-record" aria-hidden="true" ng-class="{'icon-default': state < 2, 'icon-info': state == 2, 'icon-success': state > 2}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="text-align: right">
                    <button class="btn btn-primary" ng-click="addQuestion()">Add Question</button>
                </div>
            </div>
            <button class="btn btn-success btn-lg center-block" type="button" data-toggle="collapse"
                    data-target="#showPrevCollapse" aria-expanded="false"
                    aria-controls="showPrevCollapse" style="margin-bottom: 1%;">
                Toggle Previous Question
            </button>
            <!-- Previous Questions -->
            <div class="collapse well" id="showPrevCollapse">
                <div class="panel-group" id="accordionPrev" role="tablist" aria-multiselectable="true">
                    <div class="panel" ng-repeat="question in previousQuestions track by $index" ng-class="{'panel-danger': question.response == null, 'panel-success': question.response >= -2}" id="collapsePanel{{question.id}}">
                            <div class="panel-heading" role="tab" id="heading{{question.id}}" ng-click="collapseQuestion(question.id);">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordionPrev" aria-expanded="true" aria-controls="collapseOne">
                                    <div class="row">
                                        <div class="col-xs-10">
                                           <span ng-show="question.skipped" class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> {{question.text}}
                                        </div>
                                        <div class="col-xs-2" style="text-align: center;">
                                            {{question.map}}
                                        </div>
                                    </div>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse{{question.id}}" class="panel-collapse collapse in collapse-prev" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <h3 class="h3" style="text-align: left;">
                                            {{question.text}}
                                        </h3>
                                    </div>
                                    <div class="col-xs-2">
                                        <button class="btn btn-danger" ng-click="skip(question.id)">Skip</button>
                                    </div>
                                </div>
                                <ul>
                                    <li ng-repeat="answer in question.answers" style='list-style: none;'>
                                      {{answer}}  
                                    </li>
                                </ul>
                                <div class="row">
                                    <div class="col-xs-12" style="text-align: center;">
                                        <h4 class="h4">Response Rating:</h4>
                                        <label class="radio-inline">
                                            <input type="radio" name="responseRating{{question.id}}" ng-model="question.response" id="inlineRadio0-{{question.id}}" value="0" ng-change="respond(question.id, 0);"> Poor
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="responseRating{{question.id}}" ng-model="question.response" id="inlineRadio1-{{question.id}}" value="1" ng-change="respond(question.id, 1);"> Incorrect
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="responseRating{{question.id}}" ng-model="question.response" id="inlineRadio2-{{question.id}}" value="2" ng-change="respond(question.id, 2);"> Insufficient
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="responseRating{{question.id}}" ng-model="question.response" id="inlineRadio3-{{question.id}}" value="3" ng-change="respond(question.id, 3);"> Adequate
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="responseRating{{question.id}}" ng-model="question.response" id="inlineRadio4-{{question.id}}" value="4" ng-change="respond(question.id, 4);"> Good
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="responseRating{{question.id}}" ng-model="question.response" id="inlineRadio5-{{question.id}}" value="5" ng-change="respond(question.id, 5);"> Excellent
                                        </label>
                                    </div>
                                </div>
                                <div class="row" style="text-align: center;">
                                    <div class="col-md-12">
                                        <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#noteBox{{question.id}}" aria-expanded="false" aria-controls="noteBox{{question.id}}">Take Notes</button>
                                        <div class="collapse noteBox" id="noteBox{{question.id}}">
                                            <h4 class="h4">Notes:</h4>
                                            <input type class="form-input" id='response{{question.id}}' ng-model="question.note" style="width:100%; height:15%; font-size:22px;"></input>
                                            <button class="btn btn-success center-block" ng-click="respond(question.id, null)">Save Note</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            
            </div>
        
            <!-- Last Question -->
            <div class="panel" ng-show="lastQuestion" ng-class="{'panel-danger': lastQuestion.response == null, 'panel-success': lastQuestion.response >= -2}">
                <div class="panel-heading" role="tab" id="heading{{lastQuestion.id}}">
                    <h4 class="panel-title">
                        <div class="row">
                            <div class="col-xs-10">
                                <span ng-show="lastQuestion.skipped" class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> {{lastQuestion.text}}
                            </div>
                            <div class="col-xs-2" style="text-align: center;">
                                {{lastQuestion.map}}
                            </div>
                        </div>
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-10">
                            <h3 class="h3" style="text-align: left;">
                                {{lastQuestion.text}}
                            </h3>
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-danger" ng-click="skip(lastQuestion.id)">Skip</button>
                        </div>
                    </div>
                    <ul>
                        <li ng-repeat="answer in lastQuestion.answers" style='list-style: none;'>
                          {{answer}}  
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-md-12" style="text-align: center;">
                            <h4 class="h4">Response Rating:</h4>
                            <label class="radio-inline">
                                <input type="radio" name="responseRating{{lastQuestion.id}}" ng-model="lastQuestion.response" id="inlineRadio0-{{lastQuestion.id}}" value="0" ng-change="respond(lastQuestion.id, 0);"> Poor
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="responseRating{{lastQuestion.id}}" ng-model="lastQuestion.response" id="inlineRadio1-{{lastQuestion.id}}" value="1" ng-change="respond(lastQuestion.id, 1);"> Incorrect
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="responseRating{{lastQuestion.id}}" ng-model="lastQuestion.response" id="inlineRadio2-{{lastQuestion.id}}" value="2" ng-change="respond(lastQuestion.id, 2);"> Insufficient
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="responseRating{{lastQuestion.id}}" ng-model="lastQuestion.response" id="inlineRadio3-{{lastQuestion.id}}" value="3" ng-change="respond(lastQuestion.id, 3);"> Adequate
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="responseRating{{lastQuestion.id}}" ng-model="lastQuestion.response" id="inlineRadio4-{{lastQuestion.id}}" value="4" ng-change="respond(lastQuestion.id, 4);"> Good
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="responseRating{{lastQuestion.id}}" ng-model="lastQuestion.response" id="inlineRadio5-{{lastQuestion.id}}" value="5" ng-change="respond(lastQuestion.id, 5);"> Excellent
                            </label>
                        </div>
                    </div>
                    <div class="row" style="text-align: center;">
                        <div class="col-md-12">
                            <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#noteBox{{lastQuestion.id}}" aria-expanded="false" aria-controls="noteBox{{lastQuestion.id}}">Take Notes</button>
                            <div class="collapse noteBox" id="noteBox{{lastQuestion.id}}">
                                <h4 class="h4">Notes:</h4>
                                <input type class="form-input" id='response{{lastQuestion.id}}' ng-model="lastQuestion.note" style="width:100%; height:15%; font-size:22px;"></input>
                                <button class="btn btn-success center-block" ng-click="respond(lastQuestion.id, null)">Save Note</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <!-- Current Question -->
            <div class="panel panel-info" ng-show="currentQuestion">
                <div class="panel-heading" role="tab" id="heading{{currentQuestion.id}}">
                    <h4 class="panel-title">
                        <div class="row">
                            <div class="col-xs-10">
                                {{currentQuestion.text}}
                            </div>
                            <div class="col-xs-2" style="text-align: center;">
                                {{currentQuestion.map}}
                            </div>
                        </div>
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-10">
                            <h3 class="h3" style="text-align: left;">
                                {{currentQuestion.text}}
                            </h3>
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-danger" ng-click="skip(currentQuestion.id)">Skip</button>
                        </div>
                    </div>
                    <ul>
                        <li ng-repeat="answer in currentQuestion.answers" style='list-style: none;'>
                          {{answer}}  
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-xs-12" style="text-align: center;">
                            <h4 class="h4">Response Rating:</h4>
                            <label class="radio-inline">
                                <input type="radio" name="responseRating{{currentQuestion.id}}" ng-model="currentQuestion.response" id="inlineRadio0-{{currentQuestion.id}}" value="0" ng-change="respond(currentQuestion.id, 0);"> Poor
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="responseRating{{currentQuestion.id}}" ng-model="currentQuestion.response" id="inlineRadio1-{{currentQuestion.id}}" value="1" ng-change="respond(currentQuestion.id, 1);"> Incorrect
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="responseRating{{currentQuestion.id}}" ng-model="currentQuestion.response" id="inlineRadio2-{{currentQuestion.id}}" value="2" ng-change="respond(currentQuestion.id, 2);"> Insufficient
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="responseRating{{currentQuestion.id}}" ng-model="currentQuestion.response" id="inlineRadio3-{{currentQuestion.id}}" value="3" ng-change="respond(currentQuestion.id, 3);"> Adequate
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="responseRating{{currentQuestion.id}}" ng-model="currentQuestion.response" id="inlineRadio4-{{currentQuestion.id}}" value="4" ng-change="respond(currentQuestion.id, 4);"> Good
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="responseRating{{currentQuestion.id}}" ng-model="currentQuestion.response" id="inlineRadio5-{{currentQuestion.id}}" value="5" ng-change="respond(currentQuestion.id, 5);"> Excellent
                            </label>
                        </div>
                    </div>
                    <div class="row" style="text-align: center;">
                        <div class="col-md-12">
                            <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#noteBox{{currentQuestion.id}}" aria-expanded="false" aria-controls="noteBox{{currentQuestion.id}}">Take Notes</button>
                            <div class="collapse noteBox" id="noteBox{{currentQuestion.id}}">
                                <h4 class="h4">Notes:</h4>
                                <input type class="form-input" id='response{{currentQuestion.id}}' ng-model="currentQuestion.note" style="width:100%; height:15%; font-size:22px;"></input>
                                <button class="btn btn-success center-block" ng-click="respond(currentQuestion.id, null)">Save Note</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Queued Questions -->
            <div class="panel vthumbnail" ng-class="{'panel-default': !question.highlighted, 'panel-warning': question.highlighted}" ng-mouseup="sendQuestionOrder()" ng-repeat="question in queuedQuestions" id="collapsePanel{{question.id}}" data-drop="true" data-drag="true" ng-model="queuedQuestions" jqyoui-droppable="{index: {{$index}}}" jqyoui-draggable="{index: {{$index}}, insertInline: true, direction:'jqyouiDirection'}" data-jqyoui-options="{revert: 'invalid'}" data-direction="{{item.jqyouiDirection}}">
                <div class="panel-heading" role="tab" id="heading{{question.id}}" ng-click="">
                    <h4 class="panel-title">
                        <a role="button">
                            <div class="row">
                                <div class="col-xs-10">
                                    {{question.text}}
                                </div>
                                <div class="col-xs-2" style="text-align: center;">
                                    {{question.map}}
                                </div>
                            </div>
                        </a>
                    </h4>
                </div>
                <div class="panel-body">
                    <ul>
                        <li ng-repeat="answer in question.answers" style='list-style: none;'>
                          {{answer}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row" ng-show="state == 2">
                <div class="col-md-12">
                    <h3>Recommendation: </h3>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioRecs" id="inlineRecs1" value="1" ng-model="recommendation"> Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioRecs" id="inlineRecs2" value="0" ng-model="recommendation"> Maybe
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioRecs" id="inlineRecs3" value="-1" ng-model="recommendation"> No
                    </label>
                </div>
            </div>
            <div style="text-align: center">
                <button class="btn btn-success btn-lg" type="button" 
                    style="margin-top: 1%;" ng-show="state > 0" ng-click="changeState(false)">
                    Back
                </button>
                <button class="btn btn-success btn-lg" type="button" 
                        style="margin-top: 1%;" ng-show="state < 2" ng-click="changeState(true)">
                    Next
                </button>
                <button class="btn btn-danger btn-lg" type="button" 
                        style="margin-top: 1%;" ng-show="state == 2" ng-click="endInterview()">
                    End Interview
                </button>
            </div>
            
            <script>
                $('.collapse').collapse('hide');
            </script>
        </div>
    </div>
</div>
