<div ng-controller="conduct_interview_controller">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default" ng-repeat="question in currentQuestions" id="collapsePanel{{$index + 1}}">
            <div class="panel-heading" role="tab" id="heading{{question.id}}" ng-click="collapseQuestion(question.id);">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                        <div class="row">
                            <div class="col-xs-1">
                                #{{question.id}}.  
                            </div>
                            <div class="col-xs-6">
                                {{question.text}}
                            </div>
                            <div class="col-xs-2">
                                {{question.difficulty}}
                            </div>
                            <div class="col-xs-3">
                                <button id="askButton{{question.id}}" class="btn btn-default" ng-click="selectQuestion(question.id);">Ask</button>
                            </div>
                        </div>
                    </a>
                </h4>
            </div>
            <div id="collapse{{question.id}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    {{question.text}}
                    <br>
                    <span style="font-size:22px; font-weight:bold;">Response Rating:</span>
                    <div ng-include="'stars.html'" style="margin-top:5%;"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.collapse').collapse();
    </script>
    <!--<br>
    <span style="font-size:20px;"><b>Position:</b> {{interview.label}}</span><br>
    <span style="font-size:20px;"><b>Candidate:</b> {{interview.interviewee}}</span>

    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top:15%;">

    
        <div class="carousel-inner" role="listbox">
            <div class="item active" style="text-align: center; font-size:18px; font-weight:700;">
                {{currentQuestion.question_text}}
            </div>
        </div>

    
        <a class="left carousel-control" role="button" data-slide="prev" ng-click="updateCurrentQuestion(-1);">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" ></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" ng-click="updateCurrentQuestion(1);" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>



    <br><br>
    <span style="font-size:22px; font-weight:bold;">Response:</span><br><br>
    <textarea id='response' style="width:100%; height:15%; font-size:22px;"
              placeholder="Type candidate's response here..."  >{{currentAnswer}}</textarea>
    <br><br><br><br>
    <span style="font-size:22px; font-weight:bold;">Response Rating:</span>
    <div ng-include="'stars.html'" style="margin-top:5%;"></div>-->
</div>



