<div ng-controller="create_interview_controller as cic"> <!-- NICK-->

    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">Create an interview</h1>
            <h1 class="page-subhead-line">Define a job and add questions </h1>

        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12" style="width:100%;">
        <div class="panel panel-info">
            <div class="panel-heading">
                Interview
            </div>
            <div class="control-group" id="fields">
                <div class="controls">
                    <form role="form" autocomplete="on" style="margin-left:5%;">
                        <div class="form-group" style="margin-top:2%; text-align:left;">
                            <label>Position</label>

                            <div ng-controller="position_auto_complete_controller as ctrl"
                                 ng-cloak style='width : 50%;'>
                                <input type="hidden" id="selected_position">
                                <md-content class="md-padding">
                                    <!--<form ng-submit="$event.preventDefault()">-->
                                    <md-autocomplete
                                            style="width:90%;"
                                            md-no-cache="ctrl.noCache"
                                            md-selected-item="ctrl.selectedItem"
                                            md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                                            md-search-text="ctrl.searchText"
                                            md-selected-item-change="ctrl.selectedItemChange(item)"
                                            md-items="item in ctrl.querySearch(ctrl.searchText)"
                                            md-item-text="item.display"
                                            md-min-length="0"
                                            placeholder="Search for Position">
                                        <md-item-template>
                                                        <span md-highlight-text="ctrl.searchText"
                                                              md-highlight-flags="^i">{{item.display}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No Positions matching "{{ctrl.searchText}}" were found.
                                            <a ng-click="ctrl.newPosition(ctrl.searchText)">Create a new
                                                one!</a>
                                        </md-not-found>
                                    </md-autocomplete>
                                </md-content>
                            </div>


                            <label>Interviewee</label>
                            <div ng-controller="name_auto_complete_controller as ctrl" layout="column"
                                 ng-cloak>
                                <md-content class="md-padding">
                                    <!--<form ng-submit="$event.preventDefault()">-->
                                    <md-autocomplete
                                            md-no-cache="ctrl.noCache"
                                            md-selected-item="ctrl.selectedItem"
                                            md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                                            md-search-text="ctrl.searchText"
                                            md-selected-item-change="ctrl.selectedItemChange(item)"
                                            md-items="item in ctrl.querySearch(ctrl.searchText)"
                                            md-item-text="item.display"
                                            md-min-length="0"
                                            placeholder="Search for user">
                                        <md-item-template>
                                                        <span md-highlight-text="ctrl.searchText"
                                                              md-highlight-flags="^i">{{item.display}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No users matching "{{ctrl.searchText}}" were found.
                                            <a ng-click="ctrl.newName(ctrl.searchText)">Create a new
                                                one!</a>
                                        </md-not-found>
                                    </md-autocomplete>
                                    <br/>
                                    <!--</form>-->
                                </md-content>
                            </div>


                        </div>

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>
                                        <a ng-click="sortType = 'id'; sortReverse = !sortReverse"
                                           style="cursor:pointer;"></a>
                                            #
                                            <span ng-show="sortType == 'id' && !sortReverse"
                                                  class="fa fa-caret-down"></span>
                                            <span ng-show="sortType == 'id' && sortReverse"
                                                  class="fa fa-caret-up"></span></th>

                                    </th>
                                    <th>
                                        <a ng-click="sortType = 'question_text'; sortReverse = !sortReverse"
                                           style="cursor:pointer;"></a>
                                            Question
                                            <span ng-show="sortType == 'question_text' && !sortReverse"
                                                  class="fa fa-caret-down"></span>
                                            <span ng-show="sortType == 'question_text' && sortReverse"
                                                  class="fa fa-caret-up"></span></th>

                                    </th>
                                    <th>
                                        <h3> Current Questions</h3>
                                        <a ng-click="sortType = 'difficulty'; sortReverse = !sortReverse"/>
                                        Difficulty
                                        <span ng-show="sortType == 'difficulty' && !sortReverse"
                                              class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'difficulty' && sortReverse"
                                              class="fa fa-caret-up"></span></th>
                                    <th>Tags</th>
                                    <th></th>
                                </tr>
                                <tbody ng-repeat="question in current_questions | orderBy:sortType:sortReverse | filter:searchQuestion">
                                <tr class="success">
                                    <td>{{question.id}}</td>
                                    <td>{{question.question_text}}</td>
                                    <td> {{question.difficulty}}</td>
                                    <td> {{question.tags}}</td>
                                    <td>
                                        <!--TODO: FUNC FOR ADDING QUESTION BACK GOES HERE-->
                                        <button class="btn btn-danger" ng-click="current_questions.splice($index,1);">
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                                </thead>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <br>
                        <div class="entry input-group col-xs-3"
                             style="float:left; width:80%; display:inline">
                            <div ng-controller="question_auto_complete_controller as ctrl"
                                 ng-cloak style='width : 50%;'>
                                <md-content class="md-padding">
                                    <!--<form ng-submit="$event.preventDefault()">-->
                                    <md-autocomplete
                                            style="width:90%;"
                                            md-no-cache="ctrl.noCache"
                                            md-selected-item="ctrl.selectedItem"
                                            md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                                            md-search-text="ctrl.searchText"
                                            md-selected-item-change="ctrl.selectedItemChange(item)"
                                            md-items="item in ctrl.querySearch(ctrl.searchText)"
                                            md-item-text="item.display"
                                            md-min-length="0"
                                            placeholder="Add Question">
                                        <md-item-template>
                                                        <span md-highlight-text="ctrl.searchText"
                                                              md-highlight-flags="^i">{{item.display}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No questions matching "{{ctrl.searchText}}" were found.
                                            <a ng-click="showDialog($event)"
                                               ng-controller="create_question_dialog_controller">Create a new
                                                one!</a>
                                        </md-not-found>
                                    </md-autocomplete>
                                    <span class="input-group-btn">
                                        <button class="btn btn-success btn-add" type="button"
                                                ng-click="addQuestion(ctrl.selectedItem);ctrl.clear(ctrl.selectedItem);">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                    <br/>

                                    <!--</form>-->
                                </md-content>
                            </div>
                        </div>
                    </form>
                    <br><br>
                    <button type="button" class="btn btn-lg btn-success" ng-click="CreateInterview()"
                            style="margin-left:43%; margin-bottom:2%;">
                        Submit Interview
                    </button>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
