<div class="row" style="width:100%; margin-left:0px; margin-right:0px;">
    <div class="col-md-12">
        <h1 class="page-head-line">Create a question
            <button type="button" class="btn-lg btn-danger"
                    ng-click="closeDialog()" ng-controller="create_question_dialog_controller"
                    style='float: right;'>
                X
            </button>
        </h1>
        <h1 class="page-subhead-line">Write a question and add tags</h1>

    </div>
</div>

<div class="col-md-6 col-sm-6 col-xs-12 row" style="width:100%;" ng-controller="create_question_controller">
    <div class="panel panel-info" style="margin-left:3%;">
        <div class="panel-heading">
            Question
        </div>
        <div class="control-group" id="fields" style="margin-left:5%;">
            <div class="controls">
                <form role="form" autocomplete="on" style="margin-left:5%;">
                    <div class="form-group" style="margin-top:2%; text-align:left;">
                        <label>Question</label>
                        <input id='question_text' class="form-control" type="text" style="width:95%;
                                     text-align:left;" value="{{qt}}">
                    </div>
                    <div class="form-group" style="margin-top:2%; text-align:left;">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Type</label><br>
                                <select class="form-control">
                                    <option value="Techinical">Technical</option>
                                    <option value="General">General</option>
                                </select>
                                
                            </div>
                            <div class="col-md-4">
                                <!-- Insert Topic -->
                                <label>Topic</label><br>
                            </div>
                            <div class="col-md-4">
                                <!-- Insert Sub-Topic Checkboxes -->
                                <label>Sub-Topic List</label><br>
                            </div>
                        </div>
                        <!-- Insert button to add another tag -->
                    </div>
                    <div class="form-group" style="margin-top:2%; text-align:left;">
                        <div ng-controller="slider_controller">
                            <label>Difficulty</label>
                            <div class="percentage-cur row" ng-init="selectedRange=1" style="width:76%">
                                <div class='col-xs-4' style="text-align: left;">
                                    <p>
                                        Junior
                                        <br>
                                        <input type="radio" name="level" ng-model="value" value="0" checked>
                                    </p>
                                </div>
                                <div class='col-xs-4' style="text-align: center;">
                                    <p>
                                        Mid
                                        <br>
                                        <input type="radio" name="level" ng-model="value" value="5">
                                    </p>
                                </div>
                                <div class='col-xs-4' style="text-align: right;">
                                    <p>
                                        Senior
                                        <br>
                                        <input type="radio" name="level" ng-model="value" value="10">
                                    </p>
                                </div>
                            </div>
                            <input id="modelValue" type="range" ng-model="value"
                                    min="{{options.min}}" step="{{options.step}}"
                                    max="{{options.max}}" 
                                    style="float:left; margin-top:1%; width:72.5%;">
                            <input ng-model="value" class="form-control" ng-change="updateLimits()"
                                    style="float:right; width:20%; margin-right:5%;">
                        </div>
                        

                        <br>
                    </div>
                    <br>
                    <div>
                        <label>Add tags</label><br>
                        <div class="entry input-group col-xs-3" style="display:inline-flex; width:55%;">

                            <div ng-controller="tag_auto_complete_controller as ctrl"
                                 ng-cloak style='width : 50%;'>
                                <md-content class="md-padding">
                                    <!--<form ng-submit="$event.preventDefault()">-->
                                    <md-autocomplete
                                            style="width:90%;"
                                            md-no-cache="ctrl.noCache"
                                            md-selected-item="ctrl.selectedItem"
                                            md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                                            md-search-text="ctrl.searchText"
                                            md-selected-item-change="ctrl.selectedItemChange(item)"
                                            md-items="item in ctrl.querySearch(ctrl.searchText)"
                                            md-item-text="item.display"
                                            md-min-length="0"
                                            placeholder="Seach for Tag">
                                        <md-item-template>
                                                        <span md-highlight-text="ctrl.searchText"
                                                              md-highlight-flags="^i">{{item.display}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No tags matching "{{ctrl.searchText}}" were found.
                                            <a ng-click="ctrl.newTag(ctrl.searchText)">Create a new
                                                one!</a>
                                        </md-not-found>
                                    </md-autocomplete>
                                    <span class="input-group-btn">
                                    <button class="btn btn-success btn-add" type="button"
                                            ng-click="addTag(ctrl.selectedItem);ctrl.clear(ctrl.selectedItem);">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                                </md-content>
                                <div ng-repeat="tag in current_tags">
                                    <br>
                                    {{tag.display}}
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
                <br>
                <button type="button" class="btn btn-lg btn-success" ng-click="CreateQuestion();ctrl.closeDialog()"
                        style="margin-left:43%; margin-bottom:2%;">
                    Submit Question
                </button>
                <br>
            </div>
        </div>
    </div>
</div>

