
<div ng-controller="create_question_controller"> <!-- NICK-->

                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Create a question</h1>
                        <h1 class="page-subhead-line">Write a question and add tags</h1>

                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="width:100%;">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Question
                        </div>
                        <div class="control-group" id="fields">
                            <div class="controls">
                                <form role="form" autocomplete="on" style="margin-left:5%;">
                                    <div class="form-group" style="margin-top:2%; text-align:left;">
                                        <label>Question</label>
                                        <input id='question_text' class="form-control" type="text" style="width:95%;
                                     text-align:left;" value="{{qt}}">
                                    </div>
                                    <div class="form-group" style="margin-top:2%; text-align:left;">
                                        <label>Difficulty</label>
                                        <div class="percentage-cur" ng-init="selectedRange=1">
                                            <span class="num">{{ selectedRange }}/5</span>
                                            <input id='difficulty' class="form-control" type="range" min="1" max="5"
                                                   value="1" style="width:95%;
                                     text-align:left;" ng-model="selectedRange">
                                        </div>
                                        <br>
                                    </div>
                                    <br>
                                    <div>
                                        <label>Add tags</label><br>
                                        <div class="entry input-group col-xs-3" style="display:inline-flex; width:55%;">
                                            <input id="tag" class="form-control" type="text"
                                                   style="width:95%; text-align:left;" placeholder="Enter tag">
                                        <span class="input-group-btn">
                                            <button class="btn btn-success btn-add" type="button">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </span>
                                        </div>
                                    </div>
                                </form>
                                <br>
                                <button type="button" class="btn btn-lg btn-success" ng-click="CreateQuestion()"
                                        style="margin-left:43%; margin-bottom:2%;">
                                    Submit Question
                                </button>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- /. PAGE INNER  -->
            </div>

            <!-- /. PAGE WRAPPER  -->
        </div>
        <!-- /. WRAPPER  -->
        <!-- /. FOOTER  -->
        <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
        <!-- JQUERY SCRIPTS -->
        <script src="assets/js/jquery-1.10.2.js"></script>
        <!-- BOOTSTRAP SCRIPTS -->
        <script src="assets/js/bootstrap.js"></script>
        <!-- METISMENU SCRIPTS -->
        <script src="assets/js/jquery.metisMenu.js"></script>
        <!-- CUSTOM SCRIPTS -->
        <script src="assets/js/custom.js"></script>
        <!--- FUNCTION FOR ADDING MORE FORM FIELDS --->
        <script type="text/javascript">
            $(function () {
                $(document).on('click', '.btn-add', function (e) {
                    e.preventDefault();

                    var controlForm = $('.controls form:first'),
                            currentEntry = $(this).parents('.entry:first'),
                            newEntry = $(currentEntry.clone()).appendTo(controlForm);

                    newEntry.find('input').val('');
                    controlForm.find('.entry:not(:last) .btn-add')
                            .removeClass('btn-add').addClass('btn-remove')
                            .removeClass('btn-success').addClass('btn-danger')
                            .html('<span class="glyphicon glyphicon-minus"></span>');
                }).on('click', '.btn-remove', function (e) {
                    $(this).parents('.entry:first').remove();

                    e.preventDefault();
                    return false;
                });
            });
        </script>
    </div>
</body>
</html>