<html>

  <head>
    <script src="http://code.angularjs.org/1.2.0-rc.2/angular.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
    <style>
      .button
    </style>
  </head>

  <body ng-app="">
    <h1>Interview and Questions</h1>
    <div ng-controller="repeat_interview_controller">
      <table>
        <thead style="background-color: lightgray;">
          <tr>
            <td style="width: 30px;"></td>
            <td>label</td>
            <td>interviewer</td>
            <td>interviewee</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat-start="interview in interviews">
            <td>
              <button ng-if="interview.expanded" ng-click="interview.expanded = false">-</button>
              <button ng-if="!interview.expanded" ng-click="interview.expanded = true">+</button>
            </td>
            <td>{{interviews.interview.label}}</td>
            <td>{{interviews.interview.interviewer}}</td>
            <td>{{interviews.interview.interviewee}}</td>
          </tr>
          <tr ng-if="interview.expanded" ng-repeat-end="">
            <tr ng-repeat-start="question in questions">
              <td colspan="3">{{interviews.questions.question_text}}
              </td>
            </tr>
          </tr>
        </tbody>
      </table>
    </div>
  </body>

</html>
